@*
 * Copyright (C) 2021 Crypter File Transfer
 * 
 * This file is part of the Crypter file transfer project.
 * 
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 * 
 * Contact the current copyright holder to discuss commerical license options.
 *@

@page "/user/search"

@inherits SearchBase

<PageTitle>Crypter - User Search</PageTitle>

<div class="container my-4">
   <h1>Find a user</h1>
   <EditForm Model="@SearchParams" OnValidSubmit="@PerformSearchAsync">
      <DataAnnotationsValidator />
      <div class="row">
         <div class="col-md-3">
            <InputSelect @bind-Value="SearchParams.Type" class="form-select">
               <option selected value="username">Search by Username</option>
               <option value="alias">Search by Alias</option>
            </InputSelect>
         </div>
         <div class="col-md-9">
            <div class="input-group mb-3">
               <InputText @bind-Value="SearchParams.Query" class="form-control" />
               <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
            </div>
            <ValidationMessage For="@(() => SearchParams.Query)" />
         </div>
      </div>
   </EditForm>
   <div class="row">
      @if (SearchResults != null)
      {
         @if (SearchResults.Total == 0)
         {
            <h3 class="text-center">No results found</h3>
         }
         else
         {
            @foreach (var result in SearchResults.Result)
            {
               <div class="col-md-6">
                  <div class="card my-1">
                     <div class="card-body">
                        <a class="text-decoration-none" href="/user/profile/@result.Username">
                           @if (string.IsNullOrEmpty(result.Alias))
                           {
                              <h5 class="card-title">@result.Username</h5>
                           }
                           else
                           {
                              <h5 class="card-title">@result.Alias (@result.Username)</h5>
                           }
                        </a>
                     </div>
                  </div>
               </div>
            }
            if (SearchResults.Total > SearchParams.Results)
            {
               decimal numberPages = (SearchResults.Total / SearchParams.Results);

               <nav aria-label="User Search Results">
                  <ul class="pagination">
                     @for (int i = 0; i <= Math.Ceiling(numberPages); i++)
                     {
                        string pageUrl = "/user/search?query=" + SearchParams.Query + "&type=" + SearchParams.Type + "&page=" + (i + 1);
                        <li class="page-item page"><a class="page-link" @onclick="() => GoToPage(pageUrl)">@(i + 1)</a></li>
                     }
                  </ul>
               </nav>
            }
         }
      }
   </div>
</div>
