@page "/user/profile/{Username}"

@inherits UserProfileBase

<div class="container my-4">
   <div class="row">
      <div class="col-md-6 offset-md-3">
         @if (!Loading)
         {
            if (ProfileFound)
            {
               @if (!string.IsNullOrEmpty(Alias))
               {
                  <h2>@Alias</h2>
               }
               <h3>@($@"{ActualUsername}")</h3>
               <p>@About</p>
               <div class="row">
                  <div class="col-12">
                     @if (AllowsFiles)
                     {
                        <button class="btn btn-secondary mr-3" @onclick="() => FileModal.Open()">Send a file</button>
                        <UploadFileTransferModal @ref="FileModal" IsRecipientDefined=true RecipientId="@UserId" RecipientX25519PublicKey="@UserX25519PublicKey" RecipientEd25519PublicKey="@UserEd25519PublicKey" />
                     }
                     @if (AllowsMessages)
                     {
                        <button class="btn btn-secondary" @onclick="() => MessageModal.Open()">Send a message</button>
                        <UploadMessageTransferModal @ref="MessageModal" IsRecipientDefined=true RecipientId="@UserId" RecipientX25519PublicKey="@UserX25519PublicKey" RecipientEd25519PublicKey="@UserEd25519PublicKey" />
                     }
                  </div>
               </div>
            }
            else
            {
               <h3 class="text-center">Profile is unavailable.</h3>
            }
         }
      </div>
   </div>
</div>
