@inherits DecryptFileDetailsBase

<div class="row">
   <div class="col-md-4">
      <div class="card">
         <h5 class="card-header">Details</h5>
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="fw-bold">File name: </span>@FileName</li>
            <li class="list-group-item">
               <span class="fw-bold">Sender: </span>
               @if (SenderId == Guid.Empty)
               {
                  <span>Unknown</span>
               }
               else
               {
                  <a href=@($"/user/profile/{SenderUsername}")>@($"@{SenderUsername}")</a>
               }
            </li>
            <li class="list-group-item"><span class="fw-bold">Type: </span>@ContentType</li>
            <li class="list-group-item"><span class="fw-bold">Size: </span>@Size bytes</li>
            <li class="list-group-item"><span class="fw-bold">Created: </span>@Created</li>
            <li class="list-group-item"><span class="fw-bold">Expiration: </span>@Expiration</li>
         </ul>
      </div>
   </div>
   <div class="col-md-8">
      <div class="card">
         <div class="card-body text-center">
            @if (DecryptionSuccess == false)
            {
               <h5 class="card-title">Decryption Key</h5>
               @if (UserIsRecipient)
               {
                  <p class="card-text fst-italic">This file was sent directly to you and encrypted using your public key. Decryption will occur with your private key.</p>
               }
               else
               {
                  <p class="card-text fst-italic">This should have been provided by the sender</p>
               }
               @if (DecryptionError == true)
               {
                  <div class="alert alert-danger text-center" role="alert">
                     @DecryptionErrorText
                  </div>
               }
               @if (!IsDecrypting)
               {
                  <div class="mb-3">
                     <input type="text" class="form-control" id="decryptionKey" @bind="DecryptionKey">
                  </div>
                  <div class="mb-3">
                     <button type="button" class="btn btn-primary" @onclick="@(e => OnDecryptClicked(Id, DecryptionKey, false))">Decrypt your file</button>
                  </div>
               }
               else
               {
                  <div class="mb-3">
                     <h3>@DecryptionStatusMessage</h3>
                     <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                     </div>
                  </div>
               }
            }
            else
            {
               <div class="alert alert-success text-center" role="alert">
                  Decryption successful!
               </div>
               <div class="mb-3">
                  <button type="button" class="btn btn-primary" @onclick="@(e => DownloadFile(FileName, DecryptedFile, ContentType))">Download your file</button>
               </div>
            }
         </div>
      </div>
   </div>
</div>
