@using BlazorInputFile

@inherits FileUploadBase

<div class="file-upload" hidden="@IsEncrypting">
   <div class="row">
      <div class="col-12 p-0">
         <div class="card dropzone @dropClass rounded mb-3">
            <p class="card-text dz-text">
               <i class="bi bi-file-arrow-up d-block fs-1 my-3"></i>
               <span class="fw-bold">Choose a file</span> or drag it here to upload
            </p>
            <BlazorInputFile.InputFile id="fileInput" OnChange="HandleFileInputChange" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" />
         </div>
         @foreach (var errorMessage in ErrorMessages)
         {
            <div class="validation-errors my-3">
               <div class="alert alert-danger" role="alert">
                  @errorMessage
               </div>
            </div>
         }
         @foreach (var selectedFile in SelectedFiles)
         {
            <div class="card my-3">
               <div class="card-body">
                  @selectedFile.Name
                  <button type="button" class="btn-close float-end" aria-label="Remove file" @onclick="@(e => SelectedFiles.Remove(selectedFile))"></button>
               </div>
            </div>
         }
      </div>
   </div>
   <div class="row">
      <div class="col-12 p-0">
         <button type="button" class="btn btn-primary mx-auto d-block" @onclick="@(e => OnEncryptFileClicked(SelectedFiles, encryptionStrength))">Encrypt</button>
      </div>
   </div>
   <UploadSuccessModal @ref="SuccessModal" UploadType="file" @bind-ItemId="returnedId" @bind-PrivateKey="privateKey" ModalClosedCallback="@UploadCompletedEvent" />
   <BasicModal @ref="ModalForRecipient" Subject="Upload Successful" Message=@UploadSuccessForUserMessage PrimaryButtonText="Okay" ModalClosedCallback="@UploadCompletedEvent" />
</div>

<div class="encrypt-status text-center" hidden="@(!IsEncrypting)">
   <h3>@EncryptionStatusMessage</h3>
   <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
   </div>
</div>
