@inherits LoginComponentBase

<EditForm Model="@loginInfo" OnValidSubmit="@OnLoginClicked">
   <DataAnnotationsValidator />
   @if (LoginError)
   {
      <div class="alert alert-danger" role="alert">
         @LoginErrorText
      </div>
   }
   <div class="mb-3">
      <label for="usernameFormControl" class="form-label">Username</label>
      <InputText @bind-Value="@loginInfo.Username" class="form-control" id="usernameFormControl" />
      <ValidationMessage For="@(() => loginInfo.Username)" />
   </div>
   <div class="mb-3">
      <label for="passwordFormControl" class="form-label">Password</label>
      <InputText type="password" @bind-Value="@loginInfo.Password" class="form-control" id="passwordFormControl" />
      <ValidationMessage For="@(() => loginInfo.Password)" />
   </div>
   <button type="submit" class="btn btn-primary">Login</button>
</EditForm>
<BasicModal @ref="BasicModal" @bind-Subject="BasicModalSubject" @bind-Message="BasicModalMessage" @bind-PrimaryButtonText="BasicModalPrimaryButtonText" @bind-SecondaryButtonText="BasicModalSecondaryButtonText" @bind-ShowSecondaryButton="BasicModalShowSecondaryButton" ModalClosedEvent="@BasicModalClosedHandler" />
<SpinnerModal @ref="SpinnerModal" @bind-Subject="SpinnerModalSubject" @bind-Message="SpinnerModalMessage" @bind-ShowPrimaryButton="SpinnerModalShowPrimaryButton" @bind-PrimaryButtonText="SpinnerModalPrimaryButtonText" ModalClosedEvent="@SpinnerModalClosedHandler" />
