@inherits MessageUploadBase

<div class="message-upload" hidden="@IsEncrypting">
   <div class="row">
      <div class="col-12 p-0 my-3">
         <input type="text" class="form-control" @bind="MessageSubject" @bind:event="oninput" id="messageSubject" name="messageSubject" placeholder="Subject">
      </div>
      <div class="col-12 p-0">
         <textarea class="form-control" @bind="MessageText" @bind:event="oninput" id="messageText" name="messageText" rows="5" cols="57" placeholder="Type your message here..." maxlength="@MaxMessageLength"></textarea>
         <label><small class="align-text-bottom">@(MaxMessageLength - MessageText.Count()) remaining</small></label>
      </div>
   </div>
   <div class="row">
      @if (Error)
      {
         <div class="validation-errors my-3">
            <div class="alert alert-danger" role="alert">
               @ErrorMessage
            </div>
         </div>
      }
   </div>
   <div class="row">
      <div class="col-12 p-0">
         <button type="button" class="btn btn-primary mx-auto d-block" @onclick="@(e => OnEncryptClicked(MessageText, encryptionStrength))">Encrypt</button>
      </div>
   </div>
   <UploadSuccessModal @ref="SuccessModal" DataFormat="message" @bind-ReturnedId="returnedId" @bind-PrivateKey="privateKey" ModalClosedEvent="@UploadCompletedEvent" />
   <BasicModal @ref="ModalForRecipient" Subject="Upload Successful" Message=@UploadSuccessForUserMessage PrimaryButtonText="Okay" ModalClosedEvent="@UploadCompletedEvent" />
</div>

<div class="encrypt-status text-center" hidden="@(!IsEncrypting)">
   <h3>@EncryptionStatusMessage</h3>
   <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
   </div>
</div>
