@inherits RegisterComponentBase

@if (RegistrationSuccess)
{
   <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Registration Successful!</h4>
      <p>Your account has been created.</p>
      <hr>
      <p class="mb-0">You will now be redirected to the login page...</p>
   </div>
}
else
{
   @if (RegistrationError)
   {
      <div class="alert alert-danger" role="alert">
         @RegistrationErrorText
      </div>
   }

   <form>
      <div class="mb-3">
         <label for="usernameFormControl" class="form-label">Username</label>
         <div class="input-group has-validation">
            <input @bind="RegistrationInfo.Username" type="text" class="form-control @UsernameInvalidClass" id="usernameFormControl" />
            <div class="invalid-feedback">@UsernameValidationMessage</div>
         </div>
      </div>

      <div class="mb-3">
         <label for="passwordFormControl" class="form-label">Password</label>
         <div class="input-group has-validation">
            <input @bind="RegistrationInfo.Password" type="password" class="form-control @PasswordInvalidClass" id="passwordFormControl" />
            <div class="invalid-feedback">@PasswordValidationMessage</div>
         </div>
      </div>

      <div class="mb-3">
         <label for="passwordConfirmFormControl" class="form-label">Confirm Your Password</label>
         <div class="input-group has-validation">
            <input @bind="RegistrationInfo.PasswordConfirm" type="password" class="form-control @PasswordConfirmInvalidClass" id="passwordConfirmFormControl" />
            <div class="invalid-feedback">@PasswordConfirmValidationMessage</div>
         </div>
      </div>

      <div class="mb-3">
         <label for="emailAddressFormControl" class="form-label">Email Address</label>
         <input @bind="RegistrationInfo.EmailAddress" type="email" class="form-control" id="emailAddressFormControl" placeholder="Optional" />
      </div>

      <div class="mb-3">
         <label for="betaKeyFormControl" class="form-label">Beta Key</label>
         <div class="input-group has-validation">
            <input @bind="RegistrationInfo.BetaKey" type="text" class="form-control @BetaKeyInvalidClass" id="betaKeyFormControl" />
            <div class="invalid-feedback">@BetaKeyValidationMessage</div>
         </div>
      </div>

      <button type="submit" class="btn btn-primary" @onclick:preventDefault @onclick="OnRegisterClickedAsync">Register</button>
   </form>
}
