@inherits UserReceivedItemsComponentBase

<div class="col-md-6">
   <div class="card mb-4">
      <div class="card-body">
         <h5 class="card-title">Received files and messages</h5>
      </div>
      <ul class="list-group list-group-flush">
         @if (Items == null)
         {
            <li class="list-group-item">
               Loading files...
            </li>
         }
         else if (Items.Count() == 0)
         {
            <li class="list-group-item">
               You do not have any items to download
            </li>
         }
         else
         {
            foreach (var item in Items)
            {
               <li class="list-group-item">
                  @if (item.ItemType == TransferItemType.File)
                  {
                     <h6 class="card-subtitle my-2">
                        Filename: <a href="@($"{NavigationManager.BaseUri}decrypt/file/{item.Id}")">@item.Name</a>
                     </h6>
                  }
                  else
                  {
                     <h6 class="card-subtitle my-2">
                        Subject: <a href="@($"{NavigationManager.BaseUri}decrypt/message/{item.Id}")">@item.Name</a>
                     </h6>
                  }
                  <div class="row">
                     <div class="col-12">
                        @if (string.IsNullOrEmpty(item.SenderUsername))
                        {
                           <span>From: Unknown</span>
                        }
                        else
                        {
                           <span>From: <a href="@($"/user/profile/{item.SenderUsername}")">@($"@{item.SenderUsername}")</a></span>
                        }
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        Expires on: @item.ExpirationUTC.ToLocalTime().ToString()
                     </div>
                  </div>
               </li>
            }
         }
      </ul>
   </div>
</div>
