@inherits DownloadMessageTransferBase

<div class="row">
   <div class="col-md-4">
      <div class="card">
         <h5 class="card-header">Details</h5>
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="fw-bold">Subject: </span>@Subject</li>
            <li class="list-group-item">
               <span class="fw-bold">Sender: </span>
               @if (SenderId == Guid.Empty)
               {
                  <span>Unknown</span>
               }
               else
               {
                  <a href=@($"/user/profile/{SenderUsername}")>@($"@{SenderUsername}")</a>
               }
            </li>
            <li class="list-group-item"><span class="fw-bold">Encrypted Size: </span>@Size bytes</li>
            <li class="list-group-item"><span class="fw-bold">Created: </span>@Created</li>
            <li class="list-group-item"><span class="fw-bold">Expiration: </span>@Expiration</li>
         </ul>
      </div>
   </div>
   <div class="col-md-8">
      <div class="card">
         <div class="card-body text-center">
            @if (DecryptionCompleted)
            {
               <div class="alert alert-success text-center" role="alert">
                  Decryption successful!
               </div>
               <div class="mb-3">
                  <textarea @bind="DecryptedMessage" class="form-control" rows="5"></textarea>
               </div>
            }
            else if (DecryptionInProgress)
            {
               <div class="mb-3">
                  <h3>@DecryptionStatusMessage</h3>
                  <div class="spinner-border" role="status">
                     <span class="visually-hidden">Loading...</span>
                  </div>
               </div>
            }
            else
            {
               <h5 class="card-title">Decryption Key Required</h5>
               @if (IsUserRecipient)
               {
                  <p class="card-text fst-italic">This file was sent directly to you and encrypted using your public key. Decryption will occur with your private key.</p>
               }
               else
               {
                  <p class="card-text fst-italic">This should have been provided by the sender</p>
                  <div class="mb-3">
                     <input type="text" class="form-control" id="decryptionKey" @bind="EncodedX25519PrivateKey" placeholder="Decryption key">
                  </div>
               }

               @if (!DecryptionInProgress)
               {
                  <div class="mb-3">
                     <button type="button" class="btn btn-primary" @onclick="@(e => OnDecryptClicked())">Decrypt your message</button>
                  </div>
               }

               @if (!string.IsNullOrEmpty(ErrorMessage))
               {
                  <div class="alert alert-danger text-center" role="alert">
                     @ErrorMessage
                  </div>
               }
            }
         </div>
      </div>
   </div>
</div>
