@*
 * Copyright (C) 2022 Crypter File Transfer
 * 
 * This file is part of the Crypter file transfer project.
 * 
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 * 
 * Contact the current copyright holder to discuss commercial license options.
 *@

@inherits UploadFileTransferBase

<div class="file-upload" hidden="@EncryptionInProgress">
   <div class="row">
      <div class="col-12 p-0">
         <div class="card dropzone @DropClass rounded mb-3">
            <p class="card-text dz-text">
               <i class="bi bi-file-arrow-up d-block fs-1 my-3"></i>
               <span class="fw-bold">Choose a file</span> or drag it here to upload
            </p>
            <InputFile id="fileInput" OnChange="@HandleFileInputChange" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" />
         </div>
         @foreach (var errorMessage in ErrorMessages)
         {
            <div class="validation-errors my-3">
               <div class="alert alert-danger" role="alert">
                  @errorMessage
               </div>
            </div>
         }
         @if (SelectedFile != null)
         {
            <div class="card my-3">
               <div class="card-body">
                  @SelectedFile.Name
                  <button type="button" class="btn-close float-end" aria-label="Remove file" @onclick="@(e => SelectedFile = null)"></button>
               </div>
            </div>
         }
      </div>
      <div class="row">
         <div class="col-12 p-0">
            <button type="button" class="btn btn-primary mx-auto d-block" @onclick="@(e => OnEncryptClicked())">Encrypt</button>
         </div>
      </div>
        <BasicModal @ref="ModalForUserRecipient" Subject="Upload Successful" Message=@UploadSuccessForUserMessage PrimaryButtonText="Okay" ModalClosedCallback="@UploadCompletedEvent" />
   </div>
</div>

<div class="encrypt-status text-center" hidden="@(!EncryptionInProgress)">
   <h3>@EncryptionStatusMessage</h3>
   <div class="spinner-border" role="status" hidden="@(ShowProgressBar)">
      <span class="visually-hidden">Loading...</span>
   </div>
   <div class="progress" hidden="@(!ShowProgressBar)">
      <div class="progress-bar" role="progressbar" style="width: @($"{ProgressPercent * 100}%"); transition: width 50ms linear;" aria-valuenow="@(ProgressPercent * 100)" aria-valuemin="0" aria-valuemax="100"></div>
   </div>
</div>
